<auth>
    <div class="navbox">
        <div class="textbox">
    <i class="fa-solid fa-user"></i>
    <a href="/auth">Login</a>
        </div>
        <div class="textbox">
    <i class="fa-solid fa-pen-fancy"></i>
    <a href="/auth/new">Register</a>
        </div>
        <div class="textbox">
    <i class="fa-solid fa-xmark"></i>
    <a href="/auth/exit">Exit</a>
    </div>
    </div>
</auth>