<nav>
    <h1>Recipe Search Engine</h1>
    <div class="navbox">
    <div class="textbox">
    <i class="fa-solid fa-house"></i>  
    <a href="/">Home</a>
    </div>
    <div class="textbox">
    <i class="fa-solid fa-book"></i>
    <a href="/about">About</a>
    </div>
    <div class="textbox">
        <i class="fa-solid fa-book-open"></i>
        <a href="/recipes">All Recipes</a>
        </div>
    <div class="textbox">
        <i class="fa-solid fa-plus"></i>
        <a href="/recipes/add">Add Recipe</a>
        </div>
    <div class="textbox">
    <i class="fa-solid fa-magnifying-glass"></i>
    <a href="/search">Search</a>
    </div>
    </div>
</nav>