/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 5%; /* Add padding to allow content to breathe */
    background-image: url("/images/image-from-rawpixel-id-5926619-original.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Header styling */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Unordered list styling */
ul {
    list-style: none;
    padding: 0;
}

/* List item styling */
ul li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Link styling */
a {
    text-decoration: none;
    color: #1288d6;
    font-size: 1.5rem; /* Use rem for responsive font size */
}

a:hover {
    text-decoration: underline;
}

/* Form styling */
form {
    display: inline;
}

/* Button styling */
button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #57cf95;
}

/* Custom title styling */
.playwrite-title {
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: clamp(2.5rem, 5vw, 4rem); /* Use clamp for responsive sizing */
}

/* Box styling for text sections */
.textbox {
    border: 2px solid #383838;
    padding: 5px;
    border-radius: 5px;
    background-color: #dee8d6;
    width: 100%;
    max-width: 300px; /* Set a max-width for better scalability */
    text-align: center;
    margin: 20px auto; /* Centered with auto margins */
}

/* Header 1 specific styling */
h1 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

/* Footer styling */
footer {
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1rem;
}

.transparentbox {
    background-color: #ffffff71;
    width: 80%;
    max-width: 1300px;
    margin: 50px auto;
    padding: 10px 20px;
}

p {
    font-size: 1rem;
}

.navbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    body {
        padding: 0 2%; /* Reduce padding on smaller screens */
    }

    .navbox {
        flex-direction: column;
        align-items: center;
    }
}
